@import "tailwindcss";

@custom-variant nav-active (&.active);

.icon.like path {
	fill: black;
}

.icon.liked path {
	fill: var(--color-pink-600);
}

.icon.upload path {
	fill: var(--color-gray-400)
}

.icon.uploaded path {
	fill: var(--color-gray-800)
}
