@import "tailwindcss";

@custom-variant js-active (&.active);

@layer base {
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

@theme {
  --breakpoint-xxs: 20rem;
}

@keyframes toast {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon.like path {
  fill: black;
}

.icon.liked path {
  fill: var(--color-pink-600);
}

.icon.upload path {
  fill: var(--color-gray-400);
}

.icon.uploaded path {
  fill: var(--color-gray-800);
}
